<h1> Naslov </h1> 
<h2> Naslov </h1> 
<h3> Naslov </h1> 
<h4> Naslov </h1> 
<h5> Naslov </h1> 
<h6> Naslov </h1> 
<p class="crveni_tekst">ow4irh43uh43iuh </p>
<p id= "posebni" >ow4irh43uh43iuh </p>
<p class= "zeleni"> ow4irh43uh43iuh </p>
<p> ow4irh43uh43iuh </p>
<p> ow4irh43uh43iuh </p>
<p> ow4irh43uh43iuh </p>
<p class="crveni_tekst" > ow4irh43uh43iuh </p>


<img src='http://www.njuskalo.hr/image-bigger/udomljavanje-macaka/slatke-mace-poklon-slika-7863453.jpg'/>


<style>
img{
    width: 500px;
    height: auto;
    border: 20px solid red;
    padding-top: 100px;
    margin-left: 150;


}
 .crveni_tekst{
     color: red;
 }
 #posebni(
     color: yellow;
     font-siye: 24px;
}
 )
.zeleni{
    color:green;
}

</style>