<div class="contsainer">

<h1> bootstrap demo </h1>

<div class="jumbotron">
<h1> Selma je najljepsa, pa 10 mjesta prazno </h1>
</div>

<div <class="row">
   <div class="col-md-12">

   <p> ovdje je 12 i sve zauzima </p>

   <div class="row">

   <div class="col-md-3">
    <p> 2 </p>
</div>
<div class="col-md-3">
<p> 3 </p>
</div>
<div class="col-md-3">
<p> 4 </p>


 

   </div>


</div>

